/* You can add global styles to this file, and also import other style files */

html, body {
  background-color: #17171A;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  margin: 0;
  height: 100%;
}


